# User-specific folders or temporary files that should not be versioned.
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
FileOpenOrder/
obj/
	
# Certain file types that should not be versioned.
*.pdb
*-Debug.*

# Visual Studio user settings files that should be ignored.
.vs/
**/*.sln

# Rider/Idea
.idea/

# Perforce
.p4ignore